.DS_Store
*.resources
*.suo
*.user
*.sln.docstates
*.userprefs
/*.nupkg
.nuget/
.idea/
[Bb]in/
[Bb]uild/
[Oo]bj/
[Pp]ackages/*
packages.stable
artifacts/
# Roslyn cache directories
*.ide/
.vs/
TestResult.xml


*.received.*